<a  class="btn btn-primary" target="_blank" href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= password %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=none" >
   <i class="fa fa-eye"></i>Launch noVNC web Client
</a>

<a  class="btn btn-default pull-right" target="_blank" href="vnc://:<%= password %>@<%= host %>:<%= port %>">
   <i class="fa fa-eye"></i>Launch VNC Client
</a>

<a  class="btn btn-default pull-right" target="_blank" href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= spassword %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=downscale">
   <i class="fa fa-eye"></i>View Only (Share-able Link)
</a>
